Fabric==1.8.3
Flask==0.10.1
Flask-Script==0.6.7
Jinja2==2.7.2
MarkupSafe==0.19
Werkzeug==0.9.4
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
ecdsa==0.11
itsdangerous==0.24
livereload==2.2.0
paramiko==1.12.3
pycrypto==2.6.1
pymongo==2.7
tornado==3.2
wsgiref==0.1.2
