{% extends 'index.layout.jinja2.html' %}
{% block navbaritems %}
    {% set navigation_bar = [
        ('/', 'all', 'Todos'),
        ('/answered', 'answered', 'Contestados'),
        ('/unanswered', 'unanswered', 'No Contestados'),
        ('/instructions', 'instructions', 'Instrucciones')
    ] -%}
    {% set active_page = whichActive|default('all') -%}
    {% for href, id, caption in navigation_bar %}
        <li{% if id == active_page %} class="active"{% endif%}>
            <a href="{{ href|e }}">{{ caption|e }}</a>
        </li>
    {% endfor %}
{% endblock navbaritems %}
{% block content %}
        <table class="table table-responsive table-hover table-striped">
            <thead>
                <tr>
                    <th>Quiz</th>
                    <th>Calificación</th>
                </tr>
            </thead>
            <tbody>
            {%for q in quizzes:%}
            <tr onclick="document.location = '/quiz/{{q['_id']}}'">
                <td>
                    {{q['title']}}
                </td>
                <td>
                    {{q['result']}}
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        {% if whichActive == "instructions" %}
            <div id ="inst" class="alert alert-info">
                    {{instructions}}
            </div>
        {% endif %}
{% endblock %}

    {% block jquery %}

        {% if whichActive == "instructions": %}
            $(".table").slideUp(1000);
            $("#inst").toggle().slideDown(1000);
        {% endif %}

    {% endblock jquery %}
