{% extends 'index.layout.jinja2.html' %}
{% block navbaritems %}
    {% set navigation_bar = [
        ('/', 'all', 'Todos'),
        ('/answered', 'answered', 'Contestados'),
        ('/unanswered', 'unanswered', 'No Contestados'),
        ('/instructions', 'instructions', 'Instrucciones')
    ] -%}
    {% set active_page = whichActive|default('all') -%}
    {% for href, id, caption in navigation_bar %}
        <li{% if id == active_page %} class="active"{% endif%}>
            <a href="{{ href|e }}">{{ caption|e }}</a>
        </li>
    {% endfor %}
{% endblock navbaritems %}
{% block content %}
        <table class="table table-responsive table-hover table-striped">
            <thead>
                <tr>
                    <th>Quiz</th>
                    <th>Calificación</th>
                </tr>
            </thead>
            <tbody>
            {%for q in quizzes:%}
            <tr onclick="document.location = '/quiz/{{q['_id']}}'">
                <td>
                    {{q['title']}}
                </td>
                <td>
                    {{q['result']}}
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        {% if whichActive == "instructions" %}
            <div id ="inst" class="alert alert-info">
                <h2>Instrucciones</h2>
                <p>
                1.    Haz click en el botón de "Todos". Ahí aparecerán los 7 quizzes que puedes contestar. Selecciona el de tu preferencia
                </p>
                <p>
                2.    Contesta correctamente si es verdadero o falso. Si la respuesta es correcta la pregunta se tornará en verde, si es incorrecta se tornará rojo.
                </p>
                <p>
                3.    Al finalizar el quiz del tema aparecerá tu calificación.
                </p>
                <p>
                4.    Puedes presentar los quizzes las veces que quieras. Tu calificación se guardará en la base de datos con tu ID.
                </p>
                <p>
                5.    Comienza a medir tu cultura.
                </p>
            </div>
        {% endif %}
{% endblock %}

    {% block jquery %}
        instructions.toggle();

        {% if whichActive == "instructions": %}
            $(".table").slideUp(800);
            $("#inst").delay(1000).slideDown(1000);
        {% endif %}

    {% endblock jquery %}
