{% from 'util.jinja2.html' import link_tag, script_tag%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>(RQ) {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <!-- Latest compiled and minified CSS -->
        <!--        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
        <!-- Optional theme -->
        <!--        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        {% block css %}
        {% endblock %}

    </head>
    <body>

        <div class="container">
            <!-- <bootstrap> -->


            {% block body %}
            {% endblock %}

            <!-- </bootstrap> -->
        </div>


        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script>
            {% block js %}
            {% endblock %}
            {% block jquery %}
            {% endblock %}
        </script>


    </body>
</html>
