{% extends 'index.layout.jinja2.html' %}
{% block content %}
        <table class="table table-responsive table-hover table-striped">
            <thead>
                <tr>
                    <th>Quiz</th>
                    <th>Calificación</th>
                </tr>
            </thead>
            <tbody>
            {%for q in quizzes:%}
            <tr onclick="document.location = '/quiz/{{q['_id']}}'">
                <td>
                    {{q['title']}}
                </td>
                <td>
                    <!-- This works for now, but I should use pymongo to find the results of the user -->
                    {% for r in q['results']: %}
                        {% if r['user_id'] == session['user_id']: %}
                            {{r['bestScore']}}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
{% endblock %}

    {% block jquery %}

        {% if whichActive == "all": %}
            all.addClass("active").toggle().toggle();
        {% endif %}
        {% if whichActive == "answered": %}
            answered.addClass("active").toggle().toggle();
        {% endif %}
        {% if "unsanswered" in whichActive: %}
            unanswered.addClass("active").toggle().toggle();
        {% endif %}

    {% endblock %}
